<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Debug</title>
</head>
<body>
<p> Title: {{ @SESSION['ms']->getTitle() }} </p>
<p> priority: {{ @SESSION['ms']->getPriority() }} </p>
<p> POCName: {{ @SESSION['ms']->getLocation()->getPOCName() }} </p>
<p> streetAddress: {{ @SESSION['ms']->getLocation()->getStreetAddress() }} </p>
<p> city: {{ @SESSION['ms']->getLocation()->getCity() }} </p>
<p> province: {{ @SESSION['ms']->getLocation()->getProvince() }} </p>
<p> postalCode: {{ @SESSION['ms']->getLocation()->getPostalCode() }}</p>
<p> cost: {{ @SESSION['ms']->getInvestment()->getCost() }} </p>
<p> timeTravel: {{ @SESSION['ms']->getInvestment()->getTimeTravel()  }} </p>
<p> timeVisit: {{ @SESSION['ms']->getInvestment()->getTimeVisit() }} </p>
<p> day: {{@SESSION['ms']->getOccurence()->getDay() }} </p>
<p> month: {{ @SESSION['ms']->getOccurence()->getMonth() }} </p>
<p> year: {{ @SESSION['ms']->getOccurence()->getYear() }}</p>
<p> image: {{ @SESSION['ms']->getImage() }} </p>
<p> ongoing: {{ @SESSION['ms']->getOngoing() }} </p>


</body>
</html>