<!DOCTYPE html>
<!-- Bruce Turner, Professor Ostrander, Spring 2019 -->
<!-- IT 328 Full Stack Web Development -->
<!-- Final Project -->
<!-- file: views/proscons.html -->
<!-- date: Saturday June 8 2019 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pros-Cons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">

</head>
<body>
<nav class="navbar navbar-expand-sm  navbar-default">
    <a class="navbar-brand" href="/328/Final_Project/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container border mt-4">
    <div class="row ml-2">
        <div class="col-sm-12">
            <h1>Be Aware of Your...</h1>
        </div>
    </div> <!-- end row_1 col_1 -->
    <!-- row_2 will be the Potential Concerns, broken down into 4 columns -->
    <form class="form-group" method="post" action="#">
        <div class="container border mt-4">
        <div class="row ml-2">
            <div class="col-sm-4">
                <strong>Motivations</strong><br>
                <label class="form-check-label" for="check1" >
                    <input type="checkbox" class="form-check-input" id="check1" name="pros[]" value="adventurous">adventurous
                </label><br>
                <label class="form-check-label" for="check2" >
                    <input type="checkbox" class="form-check-input" id="check2" name="pros[]" value="quirky">quirky
                </label><br>
            </div>
            <br>
            <div class="col-sm-4">
                <br>
                <label class="form-check-label" for="check3" >
                    <input type="checkbox" class="form-check-input" id="check3" name="pros[]" value="challenging">challenging
                </label><br>
                <label class="form-check-label" for="check4" >
                    <input type="checkbox" class="form-check-input" id="check4" name="pros[]" value="always wanted to">always wanted to
                </label><br>
            </div>
            <div class="col-sm-4">
                <br>
                <label class="form-check-label" for="check5" >
                    <input type="checkbox" class="form-check-input" id="check5" name="pros[]" value="expand horizons">expand horizons
                </label><br>
                <label class="form-check-label" for="check6" >
                    <input type="checkbox" class="form-check-input" id="check6" name="pros[]" value="told I could not">told I could not
                </label><br>
            </div><br>
        </div>
        <!-- now the Cons Interests -->
        <br>
            <div class="row ml-2">
                <div class="col-sm-4">
                    <strong>Possible Issues</strong><br>
                    <label class="form-check-label" for="check1" >
                        <input type="checkbox" class="form-check-input" id="check7" name="cons[]" value="physically demanding">physically demanding
                    </label><br>
                    <label class="form-check-label" for="check2" >
                        <input type="checkbox" class="form-check-input" id="check8" name="cons[]" value="very costly">very costly
                    </label><br>
                </div>
                <div class="col-sm-4">
                    <br>
                    <label class="form-check-label" for="check3" >
                        <input type="checkbox" class="form-check-input" id="check9" name="cons[]" value="temporal concerns">temporal concerns
                    </label><br>
                    <label class="form-check-label" for="check4" >
                        <input type="checkbox" class="form-check-input" id="check10" name="cons[]" value="passport current">passport current
                    </label><br>
                </div>
                <div class="col-sm-4">
                    <br>
                    <label class="form-check-label" for="check5" >
                        <input type="checkbox" class="form-check-input" id="check11" name="cons[]" value="vaccinations current">vaccinations current
                    </label><br>
                    <label class="form-check-label" for="check6" >
                        <input type="checkbox" class="form-check-input" id="check12" name="cons[]" value="could be fatal">could be fatal
                    </label><br>
                </div><br>
            </div>
        </div>
        <div class="container">
            <strong>Biography</strong><br>
            <textarea name="bio" id="bio" cols="40" rows="10">{{@SESSION.bio}}</textarea>
        </div>
        <div id="btn" class="container text-md-right pb-2">
            <button  class="btn-primary btn-sm rounded" type="submit">Submit ></button>
        </div>
    </form>
</div> <!-- close main container -->
</body>
