<!DOCTYPE html>
<!-- Bruce Turner, Professor Ostrander, Spring 2019 -->
<!-- IT 328 Full Stack Web Development -->
<!-- Final Project Assignment-->
<!-- File: required-data.html -->
<!-- Date: Friday June 7 -->
<html lang="en">
<head>
     <meta charset="UTF-8">
     <title>Add Milestone</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="styles/styles.css">

</head>
<body>
<nav class="navbar navbar-expand-sm  navbar-default">
     <a class="navbar-brand" href="/328/Final_Project/">Home</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span>
     </button>
</nav>

<div class="container border mt-4">
     <div class="row ml-2">
          <div class="col-sm-12">
               <h1>Milestone POC Information</h1>
          </div>
     </div>
     <form class="form-group" method="post" action="#">
          <div class="row ml-2">
               <div class="col-sm-8">
                    <strong>Point of Contact Name</strong><br>
                    <label class="form-control-label" >
                         <input id="pocName" class="form-control" type="text" name="pocName" value="{{ @SESSION['pocName'] }}">
                         <check if="{{ @errors['pocName'] }}">
                              <span class="err">{{ @errors['pocName'] }}</span>
                         </check>
                    </label><br>
                    <strong>Phone Number</strong><br>
                    <label>
                         <input id="phone" class="form-control" type="tel" name="phone" value="{{ @SESSION['phone'] }}"><br>
                    </label><br>
                    <strong>Email</strong><br>
                    <label>
                         <input id="email" class="form-control" type="email" name="email" value="{{ @SESSION['email'] }}">
                    </label><br>
                    <div class="form-group">
                         <label class="font-weight-bold" for="ongoing">Ongoing Milestone:</label>
                         <br />
                         <label><input type="checkbox" value="" name="ongoing" id="ongoing"
                              <check if="{{isset(@SESSION.ongoing)}}" >
                                   checked
                              </check>> This Milestone has a completion date TBD</label>
                    </div>
               </div> <!-- end row#1 col one-->
               <div class="col-sm-4">
                     <strong>Street Address</strong><br>
                     <label class="form-control-label" >
                         <input id="StreetAddress" class="form-control" type="text" name="streetAddress" value="{{ @SESSION['streetAddress'] }}">
                          <check if="{{ @errors['streetAddress'] }}">
                             <span class="err">{{ @errors['streetAddress'] }}</span>
                          </check>
                     </label><br>
                     <strong>City</strong><br>
                     <label class="form-control-label" >
                         <input id="city" class="form-control" type="text" name="city" value="{{ @SESSION['city'] }}">
                         <check if="{{ @errors['city'] }}">
                              <span class="err">{{ @errors['city'] }}</span>
                         </check>
                     </label><br>
                     <strong>Province</strong><br>
                     <label class="form-control-label" >
                         <input id="province" class="form-control" type="text" name="province" value="{{ @SESSION['province'] }}">
                         <check if="{{ @errors['province'] }}">
                             <span class="err">{{ @errors['province'] }}</span>
                         </check>
                     </label><br>
                     <strong>Postal Code</strong><br>
                     <label>
                         <input id="postalCode" class="form-control" type="text" name="postalCode" value="{{ @SESSION['postalCode'] }}"><br>
                         <check if="{{ @errors['postalCode'] }}">
                             <span class="err">{{ @errors['postalCode'] }}</span>
                         </check>
                     </label><br>
               </div>
          </div> <!-- end row#1 -->
          <div id="btn" class="container text-md-right pb-2">
               <button  class="btn-primary btn-sm rounded" type="submit">Next ></button>
          </div>
     </form>
</div> <!-- close main container -->
</body>
</html>