<!DOCTYPE html>
<!-- Bruce Turner, Professor Ostrander, Spring 2019 -->
<!-- IT 328 Full Stack Web Development -->
<!-- Dating III Assignment -->
<!-- file: views/profile.html -->
<!-- date: Thursday May 16 2019 -->
<!-- version: 2.0 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Dating II Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">

</head>
<body>
<nav class="navbar navbar-expand-sm  navbar-default">
    <a class="navbar-brand" href="#">My Dating Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container border mt-4">
    <div class="row ml-2">
        <div class="col-sm-12">
            <h1>Profile</h1>
        </div>
    </div>
    <form class="form-group" method="post" action="#">
        <div class="row ml-2">
            <div class="col-sm-6">
                <strong>Email</strong><br>
                <label class="form-control-label" >
                    <input id="email" required class="form-control" type="email" name="email" value="{{ @SESSION['email'] }}">

                </label><br>
                <strong>State</strong><br>
                <label class="form-control-label" >
                    <input id="resState" class="form-control" type="text" name="resState" value="{{ @SESSION['resState'] }}">
                </label><br>
                <!--
                <strong>Seeking</strong><br>
                <label><input type="radio" name="seekSex" value="male" checked>Male</label>
                <label><input type="radio" name="seekSex" value="female">Female</label><br>
                -->
                <p><strong>Seeking</strong>
                    <check if="{{ @errors['seekSex'] }}">
                        <span class="err">{{ @errors['seekSex'] }}</span>
                    </check><br>
                    <repeat group="{{ @seekSexs }}" value="{{ @seekSexOption }}">
                        <label><input type="radio" name="seekSex" value="{{ @seekSexOption }}"
                            <check if="{{ @seekSexOption == @seekSex }}">
                                checked="checked"
                            </check>
                            >{{ @seekSexOption }}
                        </label><br>
                    </repeat>
                </p>
            </div> <!-- end row#1 col one-->
            <div class="col-sm-6">
                <div class="container">
                    <strong>Biography</strong><br>
                    <textarea name="bio" id="bio" cols="40" rows="10">{{@SESSION.bio}}</textarea>
                </div>
            </div>
        </div> <!-- end row#1 -->
        <div id="btn" class="container text-md-right pb-2">
            <button  class="btn-primary btn-sm rounded" type="submit">Next ></button>
        </div>
    </form>
</div> <!-- close main container -->
</body>
</html>