<!DOCTYPE html>
<!-- Bruce Turner, Professor Ostrander, Spring 2019 -->
<!-- IT 328 Full Stack Web Development -->
<!-- Final Project -->
<!-- file: views/summary.html -->
<!-- date: Thursday June 6 2019 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Milestone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
<nav class="navbar navbar-expand-sm  navbar-default">
    <a class="navbar-brand" href="/328/Final_Project/view">View</a>
    <a class="navbar-brand" href="/328/Final_Project/search">Search</a>
    <a class="navbar-brand" href="/328/Final_Project/edit">Edit</a>
    <a class="navbar-brand" href="/328/Final_Project/add">Add Milestone</a>
    <a class="navbar-brand" href="/328/Final_Project/login">Login</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container border mt-4">
    <div class="row ml-2">
        <div class="col-sm-12">
            <h1>Milestone Details</h1>
        </div>
    </div>
    <div class="row ml-2">
        <div class="col-sm-6">
            <div class="container border mt-4">
                <!-- Name: {{$_SESSION['fname']}} {{$_SESSION['lname']}} <br> -->
                ID#: {{ @SESSION['ms']->getId()}} <br>
            </div>
            <div class="container border mt-4">
                Priority: {{ @SESSION['ms']->getPriority() }} <br>
            </div>
            <div class="container border mt-4">
                Title:  {{ @SESSION['ms']->getTitle() }}<br>
            </div>

        </div> <!-- end row#1 col one-->
        <div class="col-sm-6">
            <div class="col-sm-6">
                <img class="img-responsive rounded" src="images/Danube Cycle Path.jpg" style="width:400px" alt="FILE NOT FOUND" > <br>
            </div>
            <br>
            <br>
        </div>
        <br><br>

        <!-- <div> -->
    </div>
    <br>
</div> <!-- close main container -->
</body>
</html>